@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- Базовые стили ---------- */
@layer base {

  /* Гладкий скролл для всей страницы */
  html {
    scroll-behavior: smooth;
  }

  /* Базовый шрифт и фон */
  body {
    @apply font-primary text-primary bg-background leading-loose;
  }

  /* Ссылки */
  a {
    @apply text-accent hover:text-accent-hover transition-colors;
  }

  /* Заголовки */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  /* Navbar (по умолчанию для тёмной темы) */
  .header {
    @apply bg-background text-primary;
  }

  /* Светлая тема */
  .light {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;

    /* Фон и текст для светлой темы */
    @apply text-black bg-background-light;
  }

  /* Navbar для светлой темы */
  header.light {
    @apply bg-navbar-light text-black;
  }
}